@import url('https://fonts.googleapis.com/css?family=Lato');

*,
*:before,
*:after {
	box-sizing: border-box;
}

/***
BASE STYLES 
***/

body {
	font: normal 1rem "Lato", Arial, Helvetica, sans-serif;
	line-height: 1.5;
	color: #fff;
	background: #2391D3; 
}

a {
	text-decoration: none;
	color: yellow;
	transition: color .4s;
}

a:hover {
	color: #2391D3;
}


/***
LAYOUT CONTAINERS
***/

.main-wrap {
	width: 100%;
}

.main-header,
.video-wrap {
	display: flex;
	justify-content: center;
}

.main-header {
	background: linear-gradient(to right, #3224AE, #C56CD6);
	padding: 1em;
	border-bottom: 3px solid #fff;
	flex-direction: column;
	align-items: center;
}

.name {
	margin: 0;
	font-size: 1.4em;
}

.info {
	font-size: .9rem;
}

.video-section {
	width: 100%;
}


.video-wrap {
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
}
	
.caption-section {
	width: 90%;
	margin: 0 auto;
}



.mejs__player .mejs__controls {
	
}


/*** MEDIA QUERIES ***/

@media only screen and (min-width: 768px) {

	.video-wrap {
		margin-top: 3em;
	}
}